<!DOCTYPE html>
{% extends "base.html"%}

{% block body %}
<aside id="quickfacts">
	<table>
		<tbody>
			<tr>
				<th colspan="2" style="text-align: center;">Chanwoo Park</th>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
				  <img src="static/images/myphoto3.JPG" alt="My Photo" width="256" height="332">
				</td>
			</tr>
			<tr>
				<th>Born</th>
				<td>January 13, 1993 <br>Seoul, South Korea</td>
			</tr>
			<tr>
				<th>Lives</th>
				<td>Brookline, Massachusetts</td>
			</tr>
			<tr>
				<th>Occupation</th>
				<td>Unemployed ;)<br>Potential Software Engineer</td>
			</tr>
			<tr>
				<th>Alma Mater</th>
				<td>Brandeis University<br>B.S In CS Class of 2018</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;line-height:1.4em;"><hr></td>
			</tr>
			<tr>
				<th>Signature</th>
				<td>박 찬 우 （朴 灿 宇）</td>
			</tr>

		</tbody>
	</table>
</aside>

<section id="main_about">
	<h2 class="title">About Me</h2>
	<p>
	   My name is Chanwoo Park who believes in the power of technology and people with good hearts. 
	   I'm interested in making software programs, web development, and data analysis/machine learning. 
	   I've just graduated from Brandeis University in May, 2018 with a Bachelor of Science degree in Computer Science. 
	   I'm currently looking for a Software Engineer position in a company/community, in which I can work with people with 
	   great minds.
	</p>
	<p>
	  I write programs in Python and I'm familar with Python packages, such as numpy, pandas, matplotlib, and scikit-learn. For web development, 
	  I use Flask and SQLAlchemy with MySQL database. If you like to know more about me, Please go to the <a href="/projects">Projects</a> section.
	</p>
</section>
{% endblock %}
