{% extends "base.html" %}

{% block body %}
<section id="main_home">
<h2 class="title">Home</h2>
<h2 class="head_contents">Purpose of this Website</h2>
<p>
I created this website to show who I am as a programmer.
If you like to explore more about me, Please go to <a href="/about-me">About Me</a> and <a href="/projects">Projects</a> sections.
</p>
<p>If you want to contact me, you can reach me via one of the following channels:
  <ul>
    <li>via <a href="mailto:parkchan@brandeis.edu">email</a></li>
    <li>send me a message on <a href="https://github.com/kcp18/">Github</a></li>
    <li>or <a href="https://www.linkedin.com/in/chanwoo-park-106857149/">Linkedin</a></li>
  </ul>
</p>
</section>
{% endblock %} 
