<!DOCTYPE html>
{% extends "base.html"%}

{% block body %}
<div id="tableContainer">
<div id="tableRow">
<div id="main_test">
	<p>
	   My name is Chanwoo Park who believes in the power of technology and people with good hearts. 
	   I'm interested in making software programs, web development, and data analysis/machine learning. 
	   I've just graduated from Brandeis University in May, 2018 with a Bachelor of Science degree in Computer Science. 
	   I'm currently looking for a Software Engineer position in a company/community, in which I can work with people with 
	   great minds.
	</p>
	<p>
	  I write programs in Python and I'm familar with Python packages, such as numpy, pandas, matplotlib, and scikit-learn. For web development, 
	  I use Flask and SQLAlchemy with MySQL database. If you like to know more about me, Please go to the <a href="/projects">Projects</a> section.
	</p>
</div>
<div id="sidebar">
  <p>
    Hello There I'm here to. Play this shit hello threre this is like foods jsijfksjif llskdjfi lkjsdkkfj ii lksjjklskdjf i
    slkjsdljowieutugjslksbnvnvd iwojwejofji owijwjwls  owijwoijoij ww wlkjlkjlkjsdfsf iwoeijwoijwoijoij sdfjlkjsdfkj wejw
    sdkljflksjdflkjlksjlksjlkjwi jlksjdlskjflksjf  wkljwelfkjlkfj wlkejlkjlkjs wlkjwlkjlkj wkljlkjlkjsdflkj lkjlkjlkjsdf 
    klsdjlksjflkdsjlksfdj wlkjsdlkjfslkdjf wlkjlkdjflk  lksdjlksjdlksdjldkjf wlkjlksdjf lkkldsjflkjsdflkjsdlksjdf sldkjf
  </p>
</div>
</div> 
</div> 
{% endblock %}
